<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nagru___Manga_Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nagru___Manga_Organizer.Properties.Settings>
            <setting name="DefLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="SavLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value />
            </setting>
        </Nagru___Manga_Organizer.Properties.Settings>
    </userSettings>
</configuration>